%h1 Download the File

= link_to 'Get confirmation code', "#", class: 'btn get_confirm'

.confirm_form
  %h3 Enter Confirmation Code
  %p (from text message)
  = form_tag params, method: :get do 
    = text_field_tag :confirm_code, '', placeholder: 'Enter confirmation code'
    = submit_tag 'Submit', class: 'btn btn-primary submit'
  .messages

.congrats  
.back_link

:javascript
  $('.confirm_form').hide();
  $('.submit').hide();
  var link = '#{@link.id}';
  var confirm_code = '#{@link.confirm_code}';
  
  $('.get_confirm').click(function(){
    
    $.ajax({
      type: "POST",
      url: '/links/send_text_message',
      data: { id: link }
    });
    
    $('.get_confirm').remove();
    $('.confirm_form').show();
  });
  
  $('input#confirm_code').keyup(function(){
    var input = $('input#confirm_code').val();
    if (input == ''){
      $('.submit').hide();
    } else {
      if (input == confirm_code) {
        $('.incorrect_confirm').remove();
        $('.submit').show();
      } else {
        $('.incorrect_confirm').remove();
        $('.messages').append("<p class='incorrect_confirm'>Code not correct</p>");
      }
    }
  });
  
  $('.submit').click(function(){
    $('h1').remove();
    $('.confirm_form').remove();
    $('.congrats').append("<h3>Download successful!</h3>");
    $('.back_link').append("<a href='#{root_url}'>Back</a>");
  });
  
